//Breakpoints
$xlarge: max-width 1680px;
$large: max-width 1280px;
$med-large: max-width 1100px;
$medium: max-width 980px;
$med-small: max-width 800px;
$small: max-width 736px;
$xsmall: max-width 480px;
$xxsmall: max-width 360px;
$xlargePortrait: $xlarge (orientation portrait);
$largePortrait: $large (orientation portrait);
$mediumPortrait: $medium (orientation portrait);
$smallPortrait: $small (orientation portrait);
$xsmallPortrait: $xsmall (orientation portrait);
$xxsmallPortrait: $xxsmall (orientation portrait);
$xlargeLandscape: $xlarge (orientation landscape);
$largeLandscape: $large (orientation landscape);
$mediumLandscape: $medium (orientation landscape);
$smallLandscape: $small (orientation landscape);
$xsmallLandscape: $xsmall (orientation landscape);
$xxsmallLandscape: $xxsmall (orientation landscape);
