// Colors

$bg: #ffffff;
$fg: #0f0f0f;
$fg-bold: #000000;
$fg-light: #2c2c2c;
$border: #e6e6e6;
$border-bg: rgba(144, 144, 144, 0.075);
$border2: #d6d6d6;
$border2-bg: rgba(144, 144, 144, 0.15);

$white: #fff;
$off-white: #f6f9fc;
$off-black: #252525;
$light-black: #70747e;
$off-black-hover: #556063;
$off-black-active: #00181d;
$dark-gray: #647577;
$dark-blue: #6b7c93;
$navy-blue: #6772e5;
$med-blue: #66a6ff;
$light-blue: #00f2fe;
$teal: #00f0df;

// Landing

$landing-nav: #6b7d96;
$landing-nav-hover: #222730;
