// Size.
$size: (
  border-radius: 6px,
  border-width: 1px,
  element-height: 2.75em,
  element-margin: 2em
);

//Border Radius Sizes
$border-radius-x-sm: 2px;
$border-radius-sm: 4px;
$border-radius-md: 6px;
$border-radius-lg: 10px;
$border-radius-circle: 50%;

// Icons

$icon-sm: 16px;
$icon-md: 32px;
$icon-lg: 64px;
$icon-x-lg: 72px;
$icon-xx-lg: 96px;

// Sizing
$square-icon_xxx_small: 0.5rem;
$square-icon_xx_small: 0.75rem;
$square-icon_x_small: 0.8rem;
$square-icon_small: 0.85rem;
$square-icon_medium: 1rem;
$square-icon_large: 1.25rem;
$square-icon_x_large: 1.5rem;
$square-icon_xx_large: 2rem;
$square-icon_xxx_large: 2.5rem;

// Sizing
$size-xx-small: 16px;
$size-medium: 24px;

// Dropdown Sizing
$dropdown-size-small: 15rem;
$dropdown-size-medium: 20rem;
$dropdown-size-large: 25rem;

// Nubbin Sizing
$nubbin_size_default: 1rem;
