.homepage-hero {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .hero-banner {
    h1 {
      font-size: 2.5em;
    }

    h3 {
    }

    .titles {
      margin-top: 2rem;
    }
  }
}

.headshot {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  border: 4px rgba(0, 0, 0, 0.02) solid;

  img {
    height: 100%;
  }
}
