@import "~breakpoint-sass/stylesheets/breakpoint";
@import "./vars/index";
@import "./base/index";

/*
* {
  outline: 1px solid red;
  opacity: 1 !important;
  visibility: visible !important;
}

*/

.burger {
  font-size: 8px;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  background-color: $text-light-black;
}
